<!DOCTYPE html>

<html>


 <link rel="stylesheet" href="/membre.css">

<header >
    <h1> Membre </h1>
</header>

<body>

    <p> voici les membres de la JE</p>

    <table class="table" >
         <tr>
            <td>prénom</td>
            <td>nom</td>
            <td> status </td>
            <td> pole </td>
            <td> action </td>
        </tr>
        {% for membre in membres %}
        <tr>
            <td>{{membre.prenom}}</td>
            <td>{{membre.nom}}</td>
            <td> {% for status in membre.status %} {{status.status_name}} {% endfor %} </td>
            <td>  {{membre.pole.pole_name}} </td>
            <td><a href="{{ path('delete_membre', {id: membre.id}) }}">supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>

</html>
